{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

    <nav>
        <div class='navTopShadow'></div>
        <div class='navTop'>
            <img class='logoCS' src="{{ asset('build/images/Logo_cookie_squared.png') }}" alt="logo_cookie_squared">
            <ul>
                <li>RGPD & ePrivacy </li>
                <li>Tarifs</li>
                <li>A propos</li>
                <li>Connexion</li>
                <li>Inscription</li>
                <li>Langues</li>
            </ul> 
        </div>
    </nav>
    <body>
        
    </body>
       

{% endblock %}
