{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class="price_list">
    <div class="price_top">
        <h2 class="price_title">Free</h2>
    </div>
</div>
{% endblock %}
