{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!
{% endblock %}

{% block body %}
<nav>
    <div class='navTopShadow'></div>
        <div class='navTop'>
            <img class='logoCS' src="{{ asset('build/images/Logo_cookie_squared.png') }}" alt="logo_cookie_squared">
            <ul>
                <li>RGPD & ePrivacy </li>
                <li>Tarifs</li>
                <li>A propos</li>
                <li>Connexion</li>
                <li>Inscription</li>
                <li>Langues</li>
            </ul>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 navBurger" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
    </div>
</nav>
<div class="container_price">
		<div class="arrow_left_price">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
			</svg>
		</div>


		<div class="price_list_mobile">
			<div class="price_top">
				<h2 class="price_title">Free</h2>
				<div class="price_shadow_1"></div>
			</div>

			<div class="price_body">
				<div class="price_circle">
					<h3 class="price_circle_text">Free</h3>
				</div>
				<div class="price_features">
					<h3>
						<i class="fas fa-check"></i>Feature 1</h3>
					<h3>
						<i class="fas fa-check"></i>Feature 2</h3>
					<h3>
						<i class="fas fa-ban"></i>Feature 3</h3>
					<h3>
						<i class="fas fa-ban"></i>Feature 4</h3>
					<h3>
						<i class="fas fa-ban"></i>Feature 5</h3>
					<h3>
						<i class="fas fa-ban"></i>Feature 6</h3>

				</div>
			</div>

			<div class="price_footer">
				<h2 class="price_footer_text">Try now for free</h2>
			</div>

		</div>
		<div class="arrow_right_price">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
			</svg>
		</div>


		<div class="price">
			<div class="price_list">
				<div class="price_top">
					<h2 class="price_title">Free</h2>
					<div class="price_shadow_1"></div>
				</div>

				<div class="price_body">
					<div class="price_circle">
						<h3 class="price_circle_text">Free</h3>
					</div>
					<div class="price_features">
						<h3>
							<i class="fas fa-check"></i>Feature 1</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 2</h3>
						<h3>
							<i class="fas fa-ban"></i>Feature 3</h3>
						<h3>
							<i class="fas fa-ban"></i>Feature 4</h3>
						<h3>
							<i class="fas fa-ban"></i>Feature 5</h3>
						<h3>
							<i class="fas fa-ban"></i>Feature 6</h3>

					</div>
				</div>

				<div class="price_footer">
					<h2 class="price_footer_text">Try now for free</h2>
				</div>
			</div>

			<div class="price_list">
				<div class="price_top">
					<h2 class="price_title">Developer</h2>
					<div class="price_shadow_2"></div>
					<div class="price_shadow_3"></div>
				</div>

				<div class="price_body">
					<div class="price_circle">
						<h3 class="price_circle_text">9$</h3>
					</div>
					<div class="price_features">
						<h3>
							<i class="fas fa-check"></i>Feature 1</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 2</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 3</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 4</h3>
						<h3>
							<i class="fas fa-ban"></i>Feature 5</h3>
						<h3>
							<i class="fas fa-ban"></i>Feature 6</h3>

					</div>
				</div>

				<div class="price_footer">
					<h2 class="price_footer_text">Select</h2>
				</div>
			</div>

			<div class="price_list">
				<div class="price_top">
					<h2 class="price_title">Business</h2>
					<div class="price_shadow_4"></div>
					<div class="price_shadow_5"></div>
				</div>

				<div class="price_body">
					<div class="price_circle">
						<h3 class="price_circle_text">19$</h3>
					</div>
					<div class="price_features">
						<h3>
							<i class="fas fa-check"></i>Feature 1</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 2</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 3</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 4</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 5</h3>
						<h3>
							<i class="fas fa-check"></i>Feature 6</h3>

					</div>
				</div>

				<div class="price_footer">
					<h2 class="price_footer_text">Select</h2>
				</div>
			</div>

		</div>

{% endblock %}
>>>>>>> templates/home_page/index.html.twig
