{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

    <nav class='navtop'>

        <img src="{{ asset('build/images/Logo_cookie_squared.png') }}" alt="logo_cookie_squared">
               

    </nav>

{% endblock %}
