<footer id='footer'>

  <div class="footer2">
    <div class="footer1">
      <div class="footer4">
        <img class='logoCS' src="{{ asset('build/images/Logo_cookie_squared.png') }}" alt="logo_cookie_squared"><br>
        <p>{% trans %}privacypolicy{% endtrans %}</p><br>
        <p>{% trans %}allrightsreserved{% endtrans %}</p>
        <br>
      </div>
    </div>
  </div>

  <div class="footer3"></div>

  <div><a id="cRetour" class="cInvisible" href="#haut"></a></div>
  
</footer>