.form-background {
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
}
.user-form{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}
.register-form {
    width: 800px;
}

.user-form h1 {
    margin: 0 0 50px;
}

.user-form input {
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: solid #a45b16 2px;
    margin: 0 0 40px;
    display: block;
    text-align: center;
    font-size: large;
}
.user-form li {
    color: red;
}

.user-form button {
    background-color: #e6943b;
    padding: 15px;
    border: none;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    margin: 0 0 20px;
}

.user-form .check {
    height: 15px;
    width: 20px;
    border-radius: 10px;
    display: inline;
}

.user-form a ,
.user-container a {
    color: #e6943b;
}

.user-container {
    width: 1100px;
    margin: 100px auto;
}