@media only screen and (max-width: 1200px) and (min-width:901px) {
  .navTop>ul{
    gap: 1%;
  }
}
@media only screen and (max-width: 950px) {
  .navTop>ul{
    gap: 0%;
  }
}
@media only screen and (max-width: 900px) {
  .navTop>ul{
    display: none;
  }
  .navTop{
    display: flex;
    justify-content: space-between;
  }
  .navBurger{
    display: block;
    color: white;
    height: 50px;
  }
}
