.navTop{
  display: flex;
  background-color: #fdd26d;
  padding: 0 10%;
  height: 110px;
  clip-path: polygon(0% 0%,100% 0%,100% 71%,94% 91%,87% 63%,66% 90%,56% 72%,37% 91%,16% 57%,0% 100%);
}
.navTopShadow{
  background-color: #fddd8c;
  position: absolute;
  height: 160px;
  width: 100%;
  clip-path: polygon(0% 0%,100% 0%,100% 71%,94% 91%,87% 63%,66% 90%,56% 72%,37% 91%,16% 57%,0% 100%);
}
.logoCS{
  height: 50px;
}
.navTop>ul{
  display: flex;
  gap: 5%;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
}
.navTop>ul>li{
  padding: 10px;
  background-color: #fdd26d;
  transition-duration: 1s;
  transition-delay: 0s;
  clip-path: polygon(50% 17%,79% 20%,100% 37%,100% 63%,84% 80%,50% 84%,15% 80%,0% 63%,0% 40%,17% 23%);
}
.navTop>ul>li:hover{
  background-color: #A45B16;
  cursor: pointer;
}
body{
  background-color: white;
}
.navBurger{
  display: none;
}
.navBurger:hover{
  cursor: pointer;
}
/* masque le menu version téléphone au chargement de la page */
#navClose{
  display: none;
}
#navOpen{
  display: none;
  background-color: #fdd26d;
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
  top: 55px;
}
#navOpen>ul{
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  margin-top: 50px;
  align-items: center;
}
#navOpen>ul>li{
  font-size: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #F6B556;
}
#navOpen>ul>li>a{
  display: block;
  padding: 20px 0;
}
