

#rgpd{
  
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    text-align: center;
    background-color: #FED880;
    
    
}

.flexrgpd{
    display: flex;
    justify-content: center;

}

#sectionrgpd{
    background-color: #f6f6f6;
    text-align: center;
    padding: 1% 10%;
    
}

#parargpd{
    
    border-width: 4px;
    border-style: solid;
    border-color: #A45B16;
    border-radius: 5px;
    margin: 1%;
    padding: 10px;
}

#btnrgpd{
    
    justify-content: center;
}

#btnrgpd:hover{
    cursor: pointer;
}

#mainqsn{
    display: flex;
    justify-content: space-around;
    
    
}

#mainqsn p{
    margin-right: 8%;
    margin-left: 8%;
    text-align: center;
    

}

 #mainqsn img{
    height: 100px;
    margin: auto;
    
}

#qsn{
    text-align: center;
}

#sectionqsn{
    text-align: center;
    padding: 1% 10%;
    

    
}

#parargpd button{
    background-color: #F9A90C;
    color: white;
    padding: 8px;
    border-radius: 10px;
}