#sectionwp{
    height: 300px;
    color: white;
    text-align: center;
    background: url("../images/bgwp2.png");
    padding: 5% 10%;
    
}

#sectionwp button{
    background-color: #F9A90C;
    color: white;
    padding: 8px;
    border-radius: 10px;
}