{% extends 'dashboard_base.html.twig' %}

{% block body %}

{% include "dashboard/partials/side_menu_light.html.twig" %}

<div
  class="content">
  <!-- BEGIN: Top Bar -->
    <div class="top-bar">
      <!-- BEGIN: Breadcrumb -->
      <div class="-intro-x breadcrumb me-auto d-none d-sm-flex">
          <a href="{{ path('my_sites')}}">Dashboard</a>
          <i data-feather="chevron-right" class="breadcrumb__icon"></i>
          <a href="" class="breadcrumb--active">Personnaliser</a>
      </div>
    </div>
    <h2 class='fs-3xl fw-medium lh-1 my-3'>Personnalisation</h2>
    <div class="intro-y box p-5">
      
      <label for="title" class="fw-bold">Titre du bandeau</label>
      <input type="text" id="title" name="title" class="form-control"><br>
      <label for="message" class="fw-bold">Message du bandeau</label>
      <textarea type="text" id="message" name="message" class="form-control"></textarea><br>

      <label class="my-3 fw-bold">Couleur du thème</label><br>
      <input id="dark" class="form-check-input" type="radio" name="color" value="dark"><label for="dark" class="form-check-label">Sombre</label>
      <input id="light" class="form-check-input mx-2" type="radio" name="color" value="light"><label for="light" class="form-check-label">Clair</label><br>

     

      <label class="my-3 fw-bold">Disposition de la fenètre des paramètres</label><br>
      <div class="form-check">
        <input id="center" class="form-check-input" type="radio" name="layout" value="center"><label for="center" class="form-check-label">centrer</label>
      </div>
      <div class="form-check">
      <input id="left" class="form-check-input" type="radio" name="layout" value="left"><label for="left" class="form-check-label">coller à gauche</label>
      </div>
      <div class="form-check">
      <input id="right" class="form-check-input" type="radio" name="layout" value="right"><label for="right" class="form-check-label">coller à droite</label>
      </div><br>

      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input fw-bold" id="refuse"><label class="fw-bold" for="refuse">ajouter un bouton "Refuser les cookies"</label><br>
      </div>

      <a href="" class="text-theme-1 d-block fw-bold">Prévisualiser la bannière de consentement</a>

      <button class="btn btn-secondary w-50 me-2 mb-2 mt-5">Annuler</button>
      <button class="btn btn-primary w-50 me-2 mb-2 mt-5">Enregistrer</button>
    </div>

</div>
{% endblock %}