{% extends "base.html.twig" %}
{% block body %}
    <div id="cookiebanner2">
        <br>
        <h3>{{ custom.title }}</h3><br>
        <p>{{ custom.message }}</p>
        <div id="btns">
            {% if custom.refuseButton == 1 %}
                <button id="btnrefuse" class="buttons">{% trans %}refuse{% endtrans %}</button>
            {% endif %}
            
            <button id="btnpref" class="buttons">{% trans %}preferences{% endtrans %}</button>
            <button id="btnaccept" class="buttons">{% trans %}accept{% endtrans %}</button>
        </div>
    </div>
{% endblock %}