{% extends 'base.html.twig' %}

{% block body %}
    <div class="form_background">
        <div class="user_form register_form">
            <h1>{% trans %}changepassword{% endtrans %}</h1>

            {{ form_start(change) }}
            {{ form_widget(change) }}
            <button type="submit">{% trans %}validate{% endtrans %}</button>
            {{ form_end(change) }}

        </div>
    </div>
{% endblock %}
