{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-background">
        <div class="user-form register-form">
            <h1>Changer le mot de passe</h1>

            {{ form_start(change) }}
            {{ form_widget(change) }}
            <button type="submit">Valider</button>
            {{ form_end(change) }}

        </div>
    </div>
{% endblock %}
