{% extends 'base.html.twig' %}

{% block body %}
    <div class="form_background">
        <div class="user_form register_form">
            <h1>Inscription</h1>

            {{ form_start(register) }}
            {{ form_widget(register) }}
            <input type="checkbox" class="check" name="rules" required>
			<label for="rules">J'ai lu et j'accepte le règlement et la politique de confidentialité</label>
            <button type="submit">Créer mon compte</button>
            {{ form_end(register) }}

            <p>Vous possédez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous ici</a></p>
        </div>
    </div>
{% endblock %}
