{% extends 'base.html.twig' %}

{% block body %}
    <div class="form_background">
        <div class="user_form register_form">
            <h1>{% trans %}registration{% endtrans %}</h1>

            {{ form_start(register) }}
            {{ form_widget(register) }}
            <input type="checkbox" class="check" name="rules" required>
			<label for="rules">{% trans %}readandaccept{% endtrans %}</label><br>
            <button type="submit">{% trans %}createaccount{% endtrans %}</button>
            {{ form_end(register) }}

            <p>{% trans %}havealreadyaccount{% endtrans %}<a href="{{ path('app_login') }}">{% trans %}connecthere{% endtrans %}</a></p>
        </div>
    </div>
{% endblock %}
