{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-form">
        <h1>Inscription</h1>

        {{ form_start(register) }}
        {{ form_widget(register) }}
        <button type="submit">S'inscrire</button>
        {{ form_end(register) }}
    </div>
{% endblock %}