{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-background">
        <div class="user-form">
            <h1>Inscription</h1>

            {{ form_start(register) }}
            {{ form_widget(register) }}
            <button type="submit">Créer mon compte</button>
            {{ form_end(register) }}
        </div>
    </div>
{% endblock %}
